aiofiles==0.8.0
asyncio==3.4.3
certifi==2021.10.8
charset-normalizer==2.0.12
greenlet==1.1.2
idna==3.3
playwright==1.21.0
pycountry==22.3.5
pyee==8.1.0
PySocks==1.7.1
python-dotenv==0.20.0
requests==2.27.1
urllib3==1.26.9
websockets==10.1
